{% import 'admin/static.html' as admin_static with context %}


{# ---------------------- Forms -------------------------- #}
{% macro render_tabular_field(form, field, kwargs={}, caller=None) %}
    <td>
    {% set direct_error = h.is_field_error(field.errors) %}
    <div class="form-group{{ ' has-error' if direct_error else '' }}">
    <label for="{{ field.id }}" class="col-md-2 control-label">{{ field.label.text }}
        {% if h.is_required_form_field(field) %}
            <strong style="color: red">&#42;</strong>
        {%- else -%}
            &nbsp;
        {%- endif %}
    </label>
    <div class="{{ kwargs.get('column_class', 'col-md-10') }}">
        {% set _dummy = kwargs.setdefault('class', 'form-control') %}
        {{ field(**kwargs)|safe }}

    </div>
    {% if caller %}
        {{ caller(form, field, direct_error, kwargs) }}
    {% endif %}
    </div>
    </td>
{% endmacro %}

{% macro render_tabular_form_fields(form, form_opts=None) %}
    {% if form.hidden_tag is defined %}
        {{ form.hidden_tag() }}
    {% else %}
        {% if csrf_token %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% endif %}
        {% for f in form if f.widget.input_type == 'hidden' %}
            {{ f }}
        {% endfor %}
    {% endif %}

    {% if form_opts and form_opts.form_rules %}
        {% for r in form_opts.form_rules %}
            {{ r(form, form_opts=form_opts) }}
        {% endfor %}
    {% else %}
        {% for f in form if f.widget.input_type != 'hidden' %}
          {% if form_opts %}
            {% set kwargs = form_opts.widget_args.get(f.short_name, {}) %}
          {% else %}
            {% set kwargs = {} %}
          {% endif %}
          {{ render_tabular_field(form, f, kwargs) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

