{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}
{% load markdown_filters %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}

    <fieldset class="module aligned ">
        <h2>Contact Info </h2>
         <div class="form-row field-uid">


                <div>
                        <label>Uid:</label>
                            <input disabled type="text" name="telegram" value="{{contact.uid}}" required="" class="vTextField" maxlength="30">


                </div>

        </div>

        <div class="form-row">
                <div>
                    <label> Name </label>
                    <div class="related-widget-wrapper">
                       <input disabled type="text" value="{{contact.name}}"  class="vTextField" maxlength="30">
                    </div>
                </div>
        </div>

    <div class="form-row">
                <div>
                    <label> Description </label>
                    <br/></br>
                        <div class="markdownx-preview"> {{contact.description|markdownify|safe}}</div>
                </div>
        </div>

        <div class="form-row">


                <div>
                        <label>Owner:</label>


                            <div class="related-widget-wrapper">
                                {% if contact.owner.name %}
                                   <a href="{{root_path}}/{{contact.owner.uid}}/review">{{contact.owner.name}}</a>
        <a class="related-widget-wrapper-link change-related" id="change_id_owner" title="Change selected contact" href="{{root_path}}/{{contact.owner.uid}}"><img src="/static/admin/img/icon-changelink.svg" alt="Change"></a>
                                {% else %}
                                    --
                                {% endif %}
</div>
                </div>
        </div>
                <div class="form-row">
                    <div>
                        <label>Owner backup:</label>

<div class="related-widget-wrapper">
                            {% if contact.owner_backup.name %}

                                   <a href="{{root_path}}/{{contact.owner_backup.uid}}/review">{{contact.owner.name}}</a>
        <a class="related-widget-wrapper-link change-related" title="Change selected contact" href="{{root_path}}/{{contact.owner_backup.uid}}"><img src="/static/admin/img/icon-changelink.svg" alt="Change"></a>
                                {% else %}
                                    --
                                {% endif %}
    </div>

</div>
                </div>



        <div class="form-row field-isuser">


                <div class="checkbox-row">


                        <input disabled {% if contact.is_user %} checked {% endif %} type="checkbox" name="isuser" id="id_isuser"><label class="vCheckboxLabel" for="id_isuser">Isuser</label>


                </div>

        </div>

        <div class="form-row field-telegram">

                <div>
                        <label for="id_telegram">Telegram:</label>

                            <input disabled type="text" name="telegram" value="{{contact.telegram}}" id="id_telegram" class="vTextField" maxlength="30">



                </div>

        </div>

        <div class="form-row field-message_channels">
                <div>
                        <label for="id_message_channels">Message channels:</label>
                            <input disabled type="text" name="message_channels" value="{{contact.message_channels}}" id="id_message_channels"  class="vTextField" maxlength="150">
                </div>

        </div>



</fieldset>
    <fieldset class="module aligned">
   <h2>Contact phones</h2>

   <table>
     <thead>
         <tr>
         </tr>
         </thead>
     <tbody>
     {% for phone in contact.phone_numbers.all %}
        <tr class="form-row row1 has_original dynamic-phone_numbers">
        <td class="original"></td>

       <td class="field-phone">
                  <input disabled type="text" name="phone_numbers-0-phone" value="{{phone.phone}}" id="id_phone_numbers-0-phone" class="vTextField" maxlength="15">

              </td>

        </tr>
       {% endfor %}

   </table>
</fieldset>
     <fieldset class="module aligned">
   <h2>Contact Emails</h2>

   <table>
     <thead>
         <tr>

         </tr>
         </thead>
     <tbody>
     {% for email in contact.emails.all %}
        <tr class="form-row row1 has_original dynamic-phone_numbers">
        <td class="original"></td>

       <td class="field-phone">
                  <input disabled type="text" name="phone_numbers-0-phone" value="{{email.email}}"  class="vTextField" maxlength="15">

              </td>

        </tr>
       {% endfor %}

   </table>
     </fieldset>
              <fieldset class="module ">
   <h2>Contact Deals</h2>
    {% include 'deals_table.html' with deals=contact.deals.all excludes='contact' %}
</fieldset>

                  <fieldset class="module ">
   <h2>Contact Comments</h2>
    {% include 'comments_table.html' with comments=contact.comments.all excludes='contact' %}

</fieldset>
<fieldset class="module">
       <h2>Contact Links</h2>

{% include 'links_table.html' with links=contact.links.all  excludes='contact' %}

</fieldset>

    <fieldset class="module">
       <h2>Contact Tasks</h2>
{% include 'tasks_assigned_table.html' with tasks=contact.tasks_assigned.all  excludes='contact' %}

</fieldset>


     <fieldset class="module">
       <h2>Contact Organizations</h2>
{% include 'organizations_table.html' with organizations=contact.organizations.all  excludes='contact' %}


</fieldset>

         <fieldset class="module">
       <h2>Contact Projects</h2>
{% include 'projects_table.html' with projects=contact.projects.all %}

</fieldset>
    {% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}


{% block admin_change_form_document_ready %}
    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}>
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>


</form></div>

{% endblock %}