{% macro render_inline_fields(field, template, render, check=None) %}
<div class="inline-field" id="{{ field.id }}">
    {# existing inline form fields #}
    <div class="inline-field-list">
        <table class="table .table-bordered">
            <thead>
                <tr>
        {%set firstitem = field[0] %}
        {% for subfield in firstitem %}
            {% if subfield.short_name != "id" %}
                <th>{{subfield.label.text}}</th>
            {% endif %}
        {% endfor %}
                <th>Actions</th>
                </tr>
            </thead>
        <tbody>
        {% for subfield in field %}
        <tr>
        <div id="{{ subfield.id }}" class="inline-field">
            {{ render(subfield) }}

        </div>
        <td>
            {% if subfield.get_pk and subfield.get_pk() %}
            <input type="checkbox" name="del-{{ subfield.id }}" id="del-{{ subfield.id }}" />
            <label for="del-{{ subfield.id }}" style="display: inline">{{ _gettext('Delete?') }}</label>
            {% else %}
            <a href="javascript:void(0)" class="inline-remove-field"><i class="fa fa-times glyphicon glyphicon-remove"></i></a>
            {% endif %}
        </td>
        </tr>

        {% endfor %}
    </tbody>
    </table>
    </div>

    {# template for new inline form fields #}
    <div class="inline-field-template hide">
        {% filter forceescape %}
        <div class="inline-field well well-sm newitem">
            <legend>
                <!-- <small>{{ _gettext('New') }} {{ field.label.text }}</small> -->
                <div class="pull-right">
                    <a href="javascript:void(0)" class="inline-remove-field"><span class="fa fa-times glyphicon glyphicon-remove"></span></a>
                </div>
            </legend>
            <div class='clearfix'></div>
            {{ render(template) }}
        </div>
        {% endfilter %}
    </div>
    <!-- newitem class is important to find labels  FIXME please -->
    <a id="{{ field.id }}-button" href="javascript:void(0)" class="btn btn-default" onclick="faForm.addInlineField(this, '{{ field.id }}'); $('.newitem').find('label').removeClass('hide');">{{ _gettext('Add') }} {{ field.label.text }}</a>
</div>
{% endmacro %}
