Jinja2==2.8
Flask_Admin==1.5.0
Flask_Script==2.0.5
graphene==1.4.1
SQLAlchemy==1.1.13
Flask_SQLAlchemy==2.2
Faker==0.7.18
Flask==0.12
graphene_sqlalchemy==1.1.1
Flask_GraphQL==1.4.1
SQLAlchemy_Utils==0.32.16
Flask_Migrate==2.1.0
ujson==1.35
Flask_Misaka==0.4.1
