SQLAlchemy==1.1.13
Flask==0.12.2
graphene==1.4.1
Jinja2==2.9.6
Flask_Script==2.0.5
Flask_Migrate==2.1.0
graphene_sqlalchemy==1.1.1
Flask_GraphQL==1.4.1
Flask_Admin==1.5.0
Faker==0.7.18
Flask_SQLAlchemy==2.2
Flask-Misaka==0.4.1
